<div class="recepcion-side-column">
  @if (puedeGestionarCitas) {
    <app-recepcion-quick-appointment
      [puedeBuscarClientes]="puedeBuscarClientes"
      [loadingBusqueda]="loadingBusqueda"
      [terminoBusquedaCliente]="terminoBusquedaCliente"
      [clientesEncontrados]="clientesEncontrados"
      [sucursales]="sucursales"
      [sucursalActivaNombre]="sucursalActivaNombre"
      [servicios]="servicios"
      [formularioCita]="formularioCita"
      [loadingFranjas]="loadingFranjas"
      [franjasDisponibles]="franjasDisponibles"
      [mensajeWalkIn]="mensajeWalkIn"
      [guardando]="guardando"
      (searchChange)="searchChange.emit($event)"
      (clientSelected)="clientSelected.emit($event)"
      (branchChange)="branchChange.emit($event)"
      (serviceChange)="serviceChange.emit($event)"
      (walkInDateChange)="walkInDateChange.emit($event)"
      (loadSlots)="loadSlots.emit()"
      (slotSelected)="slotSelected.emit($event)"
      (registerWaitlist)="registerWaitlist.emit()"
      (saveAppointment)="saveAppointment.emit()" />
  }
  @if (solicitudesEspera.length) {
    <app-recepcion-waitlist
      [solicitudes]="solicitudesEspera"
      [estados]="estadosEspera"
      [estadoPendiente]="estadoEsperaPendiente"
      [estadoNotificada]="estadoEsperaNotificada"
      [guardando]="guardando"
      (notify)="notifyWaitlist.emit($event)" />
  }
</div>
